/*reservation*/
.f{
    display: grid;
    grid-template-columns: 1fr,1fr;
}

.left{
  margin: 10%;
  width: 100;
}


  /* index的 */
  .text-center {
    text-align: center;
  }
  
  .img-fluid {
    width: 200px; /* 設置圖片的固定寬度 */
    height: 200px; /* 設置圖片的固定高度 */
    object-fit: contain; /* 確保圖片按照比例填滿寬高，並且不會變形 */
  }
  
  .col-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px; /* 等價於 Bootstrap 的 mb-4 */
  }

/*nav bar*/
.navbar {
    background-color: #D8C4B6; /* 修改導航列的背景顏色 */
  }
  
  .navbar .nav-link {
    color: #4F709C; /* 修改導航列的文字顏色 */
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #3B5284; /* 修改導航列文字在懸停和聚焦時的顏色 */
  }
  
  .navbar .navbar-brand {
    color: #4F709C; /* 修改品牌名稱的顏色 */
  }
  
  
  
  /*日曆*/
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 400px;
}

.day {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.day.booked {
    background-color: #f0a;
    color: white;
}

.day:hover {
    background-color: #ddd;
}

