---
layout: default
title: "儀器查詢"
permalink: "/index"
---


<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="color:  #543310;">首頁</li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#" style="color:rgb(79, 112, 156) ;">儀器查詢</a></li>
    </ol>
  </nav>

  <div class="container">
    <div class="row">
      <h3 style="text-align: center; color:rgb(79, 112, 156); font-weight: bold;">儀器查詢</h3>
    </div>

    <div class="row" style="margin-top: 30px; margin-bottom: 30px; color:  #543310;">
      <select id="categorySelect" style="color: #543310;" onchange="filterItems()">
        <option style="color: #111111;">查詢類別</option>
        <option style="color: #111111;" value="儀器">儀器</option>
        <option style="color: #111111;" value="系統軟體">系統軟體</option>
        <option style="color: #111111;" value="顯微鏡">顯微鏡</option>
      </select>
    </div>
    <div class="row" style="margin-bottom: 30px;color:  #543310;">
      <select id="itemSelect" style="color: #543310;">
        <option style="color: #111111;">尋找儀器</option>
        {% for item in site.data %}
        <option style="color: #111111;" data-category="{{ item.category }}">{{ item.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="itemsContainer" class="row" style="background-color: rgba(108, 143, 176,0.3);">
      {% for item in site.data %}
        <div class="col-12 col-md-4 col-lg-3 col-style border item" data-category="{{ item.category }}">
          <h6 class="text-center">{{ item.name }} <br>{{ item.nameEN }}</h6>
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="{{ item.img }}" alt="{{ item.name }}">
          </div>
          <a href="/WEB-Final/reservation?item={{ item.id }}" class="ReserveBtn">
            <span style="color: #213555;">查看詳情</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function filterItems() {
    var category = document.getElementById('categorySelect').value;
    var items = document.querySelectorAll('#itemsContainer .item');
    var itemOptions = document.querySelectorAll('#itemSelect option[data-category]');

    // Filter items
    items.forEach(function(item) {
      if (category === "查詢類別" || item.getAttribute('data-category') === category) {
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });

    // Filter item options
    itemOptions.forEach(function(option) {
      if (category === "查詢類別" || option.getAttribute('data-category') === category) {
        option.style.display = 'block';
      } else {
        option.style.display = 'none';
      }
    });
  }
</script>

<style>
  /**/
  .text-center {
    margin-top: 20px;
  }

  /*查看詳情的按鈕*/

  .ReserveBtn {
    position: relative;
    color: #111111;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 12px 10px;
    /* 調整按鈕的內邊距 */
    height: 30px;
    /* 設定按鈕的高度 */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .ReserveBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    width: 56px;
    height: 30px;
    transition: all 0.3s ease;
  }

  .ReserveBtn span {
    position: relative;
    z-index: 1;
  }

  .ReserveBtn:hover:before {
    width: 130%;
    background: rgb(240, 233, 197);
  }

  .ReserveBtn:hover svg {
    transform: translateX(0);
  }

  .ReserveBtn:hover,
  .ReserveBtn:focus {
    color: #111111;
  }

  .ReserveBtn:active {
    color: #111111;
    transform: scale(0.96);
  }

  /*img*/
  .img-fluid {
    width: 156px;
    height: 100px;
  }

</style>
